{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'alert/fonts.css' %}">

<style type="text/css">
	table {
		width: 100%;
		border: 1px solid black;
		border-collapse: collapse;
	}

	th, td {
		border-bottom: 1px solid black;
		padding: 5px;
	}

	tr, h1 {
		text-align: center;
	}

	body {
		font-family: 'Nanum Gothic';
	}

	a:link, a:visited {
		color: black;
	}

	a:hover {
		color: blue;
	}

	a:active {
		color: red;
	}

	button {
		width: 100%;
		height: 70px;
		font-size: 20px;
		font-weight: bold;
	}

</style>

<body>
{% if latest_board_list %}
	<h1>공고 내용</h1>
	<form action="../resetAlert/" method="POST">
		{% csrf_token %}
		<table>
			<tr>
				<td>
					<b>글번호</b>
				</td>
				<td>
					<b>글제목</b>
				</td>
				<td>
					<b>작성 일자</b>
				</td>
				<td>
					<b>갱신 일자</b>
				</td>
				<td>
					<b>재알림</b> <input type="checkbox" name="dummy" id="checkAll">
				</td>
			</tr>

			{% for b in latest_board_list %}
			<tr>
				<td>
					{{ b.board_id }}
				</td>
				<td align = "left">
					<a href="/alert/detail/{{ b.board_id }}/">{{ b.board_title }}</a>
				</td>
				<td>
					{{ b.board_date }}
				</td>
				<td>
					{% if b.board_alert %}
						알림 완료
					{% else %}
						알림 대기중
					{% endif %}
				</td>
				<td>
					<input type="checkbox" name="chk_info" value="{{ b.board_id }}" class="checkSelect">
				</td>
			</tr>
			{% endfor %}
		</table>
	<table style="border: 0px">
		<tr style="height: 40">
			<td style="border-bottom: 0px">
				<button type="button" onclick="window.open('../scraping/1/')">공고내용 새로고침</button>
			</td>
			<td style="border-bottom: 0px">
				<button type="button" onclick="window.open('../kakao/')">카카오톡 알림전송</button>
			</td>
			<td style="border-bottom: 0px">
				<input type="submit" style="width: 100%; height: 70px; font-size: 20px; font-weight: bold;" value="재알림 등록">
			</td>
		</tr>
	</table>
	</form>
{% else %}
	<h1>공지가 없습니다</h1>
		<table>
			<tr>
				<td>
					<b>글번호</b>
				</td>
				<td>
					<b>글제목</b>
				</td>
				<td>
					<b>작성 일자</b>
				</td>
				<td>
					<b>갱신 일자</b>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<button type="button" onclick="window.open('../scraping/1/')">공고내용 새로고침</button>
			</tr>
		</table>
{% endif %}
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	$("#checkAll").click(function(){
	    $('input:checkbox').not(this).prop('checked', this.checked);
	});
</script>